#root {
  height: 100vh;
}

.Accueil, .giftDetail{
  height: 87vh;
}
.E-shop{
  margin-bottom: 50vh;
}
.Accueil {
  background-image: url("./assets/BG1.jpg");
  background-size: 100vw 87vh;
  background-repeat: no-repeat;
}
.Navbar {
  background-image: url("./assets/navbg.png");
  background-size: cover;
  height: 8vh;
}
.Footer {
  background-image: url("./assets/footerbg.png");
  background-size: cover;
  height: 5vh;
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}
