#root {
  min-height: 100vh;
  position: relative;
}

.Accueil,
.giftDetail {
  height: 87vh;
}
.E-shop {
  margin-bottom: 50vh;
}
.Accueil {
  background-image: url("./assets/BG1.jpg");
  background-size: 100vw 87vh;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position: center;
    height: 95vh;
  }
}
.Navbar {
  background-image: url("./assets/navbg.png");
  background-size: cover;
  height: 8vh;
}
.Footer {
  background-image: url("./assets/footerbg.png");
  background-size: cover;
  height: 5vh;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.blur-background {
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
