#root {
  min-height: 100vh;
  position: relative;
}

.Accueil,
.E-shop,
.giftDetail {
  min-height: 87vh;
}
.Accueil {
  background-image: url("./assets/BG1.jpg");
  background-size: 100vw 87vh;
  background-repeat: no-repeat;
}
.Navbar {
  background-image: url("./assets/navbg.png");
  background-size: cover;
  height: 8vh;
}
.Footer {
  background-image: url("./assets/footerbg.png");
  background-size: cover;
  height: 5vh;
  margin-top: 2rem;
}
